cmake-build-debug
cmake-build-release
.DS_Store
/.vscode/
/devent/test/full_chain.pem
/devent/test/private.key
.idea
release
/cmake-build-debug-visual-studio/
/cmake-build-release-cygwin/
/cmake-build-debug-cygwin/
.vs
/cmake-build-debug-mingw/
